/****** Main Styling ******/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.container {
	text-align: center;
	padding: 20px;
}

/****** Logo Styling ******/
img {
	width: 250px;
	margin: 20px auto 20px auto;
	display: block;
}

.logo-text { /* Styling for the logo text */
	padding: 0;
	margin: -25px 0 0 0;
	font-weight: 500;
	font-size: 50px;
	color: #55acee;
}

/****** Button Styling ******/
.btn {
	margin: 15px 0px;
	color: white;
	background-color: #55acee;
	display: inline-block;
	border: 0;
	font-size: 16px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 150px;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

/****** Numbers Table Styling ******/
.numbers-list {
	display:inline-block;
	float: left;
	padding: 7px 7px;
}

.error {
	color: red;
}

.container.list {
	text-align: center;
	display: block;
	padding: 10px 10% 10px 10%;
}

ul {
	font-size: 14px;
}
